<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.onestore.ipc.iap.IapService.ACTION" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="onestore" />
        </intent>
    </queries>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tikkle"
        tools:targetApi="31">

        <meta-data
            android:name="iap:api_version"
            android:value="7" />

        <activity
            android:name=".login.SigninFinishActivity"
            android:exported="false" />

        <activity
            android:name=".consumptionType.ConsumptionResultActivity_1"
            android:exported="true">
        </activity>

        <activity
            android:name=".consumptionType.ConsumptionIntroActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".login.SigninActivity2"
            android:exported="false" />

        <activity
            android:name=".login.SigninActivity1"
            android:exported="true">
        </activity>

        <activity
            android:name=".login.SigninActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".consumptionType.ConsumptionTypeActivity_7"
            android:exported="false" />

        <activity
            android:name=".consumptionType.ConsumptionTypeActivity_6"
            android:exported="false" />

        <activity
            android:name=".consumptionType.ConsumptionTypeActivity_5"
            android:exported="false" />

        <activity
            android:name=".consumptionType.ConsumptionTypeActivity_4"
            android:exported="false" />

        <activity
            android:name=".consumptionType.ConsumptionTypeActivity_3"
            android:exported="false" />

        <activity
            android:name=".consumptionType.ConsumptionTypeActivity_2"
            android:exported="false" />

        <activity
            android:name=".consumptionType.ConsumptionTypeActivity_1"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".login.MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao4f444e8815868b65a842725e9610b1d0" />
            </intent-filter>
        </activity>
    </application>

</manifest>